<!DOCTYPE html>
<html>
  <head>
    <title>My First App</title>
    <link rel="stylesheet" href="/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/application.css">
  </head>
  <body style="padding-top: 50px;">

    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
            <ul class="nav">
              <li><a href="/">Nav Item</a></li>
            </ul>
        </div>
      </div>
    </div>

  <div class="container">
    <%if session[:INFO] %>
      <div class="alert alert-info"><%=session[:INFO]%></div>
      <% session.delete(:INFO) %>
    <% end %>
    <%if session[:SUCCESS] %>
      <div class="alert alert-success"><%=session[:SUCCESS]%></div>
      <% session.delete(:SUCCESS) %>
    <% end %>
    <%if session[:ERROR] %>
      <div class="alert alert-error"><%=session[:ERROR]%></div>
      <% session.delete(:ERROR) %>
    <% end %>
      <%= yield %>
  </div>
  </body>
</html>
